<template>
     <div class="logIn_user">
        <div class="container_logIn_user">
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <button type="submit">Iniciar Sesion</button>
            </form>
        </div>
    </div>
</template>
<script>

export default {
    name: "LogIn",
    data: function(){
        return{
            user: {
                username: "",
                password: ""
            }
        }
    },
    methods: {
        processLogInUser: function() {
            axios.post("login/",this.user, {headers: {}})
            .then((result)=>{
                let dataLogin = {
                    username: this.user.username,
                    token_access: result.data.access,
                    token_refresh: result.data.token_refresh
                }
                this.$emit('completedLogIn', dataLogin)
            })
            .catch( (error) => {
                if(error.response.status == "401"){
                    alert("Error 401: Credenciales incorrectas")
                }
            })
        }
    }
}
</script>

<style>
 
    .logIn_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
 
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .container_logIn_user {
        border: 3px solid  black;
        border-radius: 3px;
        width: 25%;
        height: 60%;
        background-color: black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .logIn_user h2{
        color: #E5E7E9;
        font-family: "Papyrus", Times, serif;
    }
 
    .logIn_user form{
        width: 70%;
    }
 
    .logIn_user input{
        height: 40px;
        width: 100%;
        font-family: "times new roma", Times, serif;
        background: black;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
 
        border: 1px solid gold;
    }
 
    .logIn_user button{
        width: 100%;
        height: 40px;
 
        color: black;
        background: gold;
        border: 1px solid gold;
 
        border-radius: 3px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        font-family: "Papyrus", Times, Sans-serif;
    }
 
    .logIn_user button:hover{
        color: #283747;
        background: #E5E7E9;
        border: 1px solid #E5E7E9;
    }
 
</style>