<template>

    <div class="Main_user"></div>
    <div class="Main_contairer_logo">
        <img id="lab" src="../assets/lab.png" width="160" height="120">
        <h1> LIB </h1> 
        <h2> SEX-SHOP </h2> 
    </div>
    <div class="Main_contairer_quienSoy">
        <p><b>IIB SEX SHOP</b> 
        es un nuevo concepto de tienda erótica, que abrió sus puertas en el año 2021. 
        Una plataforma totalmente virtual, que recoje de los mejores marcas de productos de sex shop.
        Estamos totalmente alejados del antiguo concepto de sex shop,  somos una tienda erótica para  
        todos los géneros y todas las maneras de vivir la sexualidad. Con todas las garantías, donde 
        te atenderemos de forma  virtual y profesional, Podrás ver y tocar muchos de los productos 
        y te los explicaremos para qué sepas exactamente lo que te llevas y las maneras de sacarle 
        todo el partido, que su compra sea 100% satisfactorio; que sepas exactamente el tamaño que 
        tiene, el material con el que está fabricado, el ruido que hace y toda la información que sea 
        necesaria para su uso y conservación.</p>
    </div>
    <div class="marcas">
        <img src="../assets/logo1.jpg" width="120" height="120">
        <img src="../assets/logo2.jpeg" width="120" height="120">
        <img src="../assets/logo3.jpeg" width="120" height="120">
        <img src="../assets/logo4.jpeg" width="120" height="120">
    </div>

</template>

<style>
    .Main_user {
        margin: auto;
        padding: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Main_contairer_logo{
        margin-top: -400px;
        background-color:black;
        margin-left: 170px;
        width: 1000px;
        height: 130px;
        border-style: inset outset;
        border-color: gold;   
    }

    .Main_contairer_logo h1{
        font-family: "Times new roma";
        font-size: 50px;
        color:#E5E7E9;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px gold;
        letter-spacing: 30px;
        margin-top: 0px;
        margin-left: 300px;
    }

    .Main_contairer_logo h2{
        font-family: "Times new roma";
        font-size: 50px;
        color:#E5E7E9;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px gold;
        margin-top:-25px;
        letter-spacing: 40px;
        margin-left: 130px;
    }

    #lab{
        float: right;
        margin-right: 70px;
        margin-top: 5px;
    }

    .Main_contairer_quienSoy p {
        text-align: justify;
        font-family: "Times new roma", Times, serif;
        color: black;
        margin-left:10%;
        margin-right: 10%;
    }

    .marcas{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
</style>