<template>
 
    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>
 
            <form v-on:submit.prevent="processSignUp" >
                <label > Username: </label>
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <label > Password: </label>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <label > Email: </label>
                <input type="email" v-model="user.email" placeholder="Email">
                <br>
                <label > Fecha de nacimiento: </label>
                <input type="date" v-model="user.fecha_nacimiento" >
                <br>
                <label > Intereses: </label>
                <select v-model="intereses" >
                    <option value="fetiches"> Fetiches </option>
                    <option value="Vainilla"> Vainilla </option>
                    <option value="BDSM"> BDSM </option>
                    <option value="roleplay"> Role play </option>
                </select>
                <br>
                <input type="checkbox" v-model="user.terminos" value="terminos">
                <label > Acepto terminos y condiciones </label>

                <button type="submit">Registrarse</button>
            </form>
        </div>
 
    </div>
 
</template>
 
<script>

 
export default {
    name: "SignUp",
 
    data: function(){
        return {
            user: {
                username: "",
                password: "",
                email: "",
                fecha_nacimiento: "",
                intereses: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    balance: 0,
                    isActive: true
                }
            }
        }
    },
 
    methods: {
        processSignUp: function(){
            axios.post(
                "https://dashboard.heroku.com/apps/proyectog4", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
 
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                });
        }
    }
}
</script>
 
<style>
 
    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
 
    .signUp_user h2{
        color: black;
    }
 
    .signUp_user form{
        width: 70%;
    }
 
    .signUp_user input{
        height: 35px;
        width: 100%;
 
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 3px 0;
 
        border: 2px solid black;
        justify-content: space-between;
    }

    .signUp_user select{
        height: 38px;
        width: 100%;
 
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 3px 0;
 
        border: 2px solid black;
    }
 
    .signUp_user button{
        width: 100%;
        height: 35px;
 
        color: #E5E7E9;
        background: black;
        border: 1px solid black;
 
        border-radius: 3px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }
 
    .signUp_user button:hover{
        color: #283747;
        background: #E5E7E9;
        border: 1px solid #E5E7E9;
    }
 
</style>