<template>
  <div id="app" class="app">
 
    <div class="header">
      <img src="./assets/lab.png" width="120" height="80" v-on:click="loadMain" >
      <h1> Lib Sex Shop </h1>
      <nav>
        <button v-if="is_auth" > Inicio </button>
        <button v-if="is_auth" > Cuenta </button>
        <button v-if="is_auth" > Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
      </nav>
    </div>
 
 
    <div class="main-component">
      <router-view  
        v-on:completedMain="completedMain"
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
      >
      </router-view>
    </div>
 
    <div class="footer">
    <h2>Contáctenos--- cel:3006549878 - email:libsexshop@gmail.com </h2>
    </div>
 
  </div> 
</template>
 
<script>
export default {
  name: 'App',
 
  data: function(){
      return{
        is_auth: false
      }
  },
 
  components: {
  },
 
  methods:{
    verifyAuth: function() {
      if(this.is_auth == false)
        this.$router.push({name: "Main"})
    },
 
    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },
 
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    loadMain: function(){
      this.$router.push({name: "Main"})
    },
 
    completedLogIn: function(data) {},
 
    completedSignUp: function(data) {},
 
  },
 
  created: function(){
    this.verifyAuth()
  }
 
}
</script>
 
<style>
 
  body{
    background-color: black;
    margin:0 0 0 0;
  }
 
  .header{
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;
    background-color: black ;
    color:#E5E7E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .header h1{
    width: 20%;
    text-align: left;
    font-family: "Papyrus", Times, serif;
    margin-left: -650px;
  }
 
  .header nav {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }
 
  .header nav button{
    color: black;
    background: gold;
    border: 1px solid gold;
    font-family: "Times new roma", Times, serif;
    border-radius: 2px;
    padding: 10px 20px;
  }
 
  .header nav button:hover{
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }
 
  .main-component{
    height: 75vh;
    margin: 0px;
    padding: 0px;
    background-color: gold;
    margin: auto;
  }
 
  .footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 60px; 
    background-color: black;
    color: #E5E7E9;
    
  }
 
  .footer h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Papyrus", Times, serif;
  }
</style>